.swp

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
src/.elasticbeanstalk/*
src/!.elasticbeanstalk/*.cfg.yml
src/!.elasticbeanstalk/*.global.yml
